#codeEditor {
    -fx-font-size: 15px;
    -fx-font-family: Consolas;
    -fx-background-color: #212121;
}

#codeEditor .text {
    -fx-fill: #eaeaea;
}

#codeEditor .instruction {
    -fx-fill: #ce8500;
}

#codeEditor .types {
    -fx-fill: #017fb6;
}

#codeEditor .lineno {
    -fx-background-color: #333333;
    -fx-background-insets: 0;
    -fx-padding: 0 6px;
    -fx-alignment: CENTER_RIGHT;
    -fx-font-style: normal;
    -fx-border-color: #333333;
    -fx-border-width: 0 0 0 2;
    -fx-pref-height: 1.0;
}

#codeEditor .lineno .text {
    -fx-fill: #949494;
}

#codeEditor .lineno:hover .text {
    -fx-fill: #cccccc;
}

#codeEditor .caret {
    -fx-stroke: white;
}