#codeEditor {
    -fx-font-size: 15px;
    -fx-font-family: Consolas;
    -fx-background-color: #212121;
}

#codeEditor .text {
    -fx-fill: #eaeaea;
}

#codeEditor .instruction {
    -fx-fill: #ce8500;
}

#codeEditor .types {
    -fx-fill: #017fb6;
}